In [706]:
df = pd.read_csv("https://raw.githubusercontent.com/nitkiew2/CSE404GroupProject/main/insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [707]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pylab import *
import os
df = pd.read_csv("https://raw.githubusercontent.com/nitkiew2/CSE404GroupProject/main/insurance.csv")
# df.drop(df.filter(regex="children"),axis=1, inplace=True)
# df.drop(df.filter(regex="smoker"),axis=1, inplace=True)
cols = ['charges',"bmi","age","children"] # one or more

Q1 = df[cols].quantile(0.25)
Q3 = df[cols].quantile(0.75)
IQR = Q3 - Q1

df = df[~((df[cols] < (Q1 - 1.5 * IQR)) |(df[cols] > (Q3 + 1.5 * IQR))).any(axis=1)]
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1193 rows x 7 columns]

In [708]:
data["charges"]=data["charges"].astype(int)

In [709]:
x=data.iloc[:,:1].values
y=data.iloc[:,-1].values

In [710]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.1, random_state=50)

In [711]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [712]:
from sklearn.svm import SVC
from sklearn import *
classifier=SVC(kernel="linear", random_state=1)
classifier.fit(x_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=1,
    shrinking=True, tol=0.001, verbose=False)

In [713]:
y_pred=classifier.predict(x_test)
temp=np.concatenate((y_pred.reshape(len(y_test), 1), y_test.reshape(len(y_pred),1)),1)

In [714]:
temp

array([[ 6571,  5976],
       [ 4889,  5846],
       [13887, 13831],
       [10601,  9625],
       [ 3392,  2680],
       [13224, 47896],
       [ 2217, 18223],
       [ 7441,  7419],
       [ 4433,  3732],
       [11842, 12222],
       [ 7160,  7050],
       [ 9447, 21978],
       [ 7160,  6282],
       [ 4889, 37701],
       [ 7160,  7046],
       [11658, 12032],
       [13143, 13112],
       [ 4433,  4239],
       [13224, 12333],
       [ 3392,  3410],
       [ 1632,  1727],
       [ 9447, 44641],
       [ 3392, 17128],
       [ 6571,  6112],
       [ 4433,  4529],
       [10601, 10594],
       [ 4889,  6402],
       [ 8823, 46151],
       [ 2217,  1711],
       [ 2217,  1704],
       [ 7160, 45863],
       [ 1632,  4687],
       [13470, 15019],
       [ 2585,  3180],
       [ 2585,  3861],
       [ 2585,  3443],
       [10601, 27117],
       [ 1632,  2709],
       [13470, 13451],
       [13887, 47928],
       [ 6571, 23563],
       [ 6571,  6710],
       [13143, 14235],
       [13224, 14001],
       [11658, 27218],
       [13887, 13390],
       [ 7160, 41034],
       [ 2585,  2020],
       [13887, 14256],
       [ 9447, 21232],
       [11658, 48675],
       [ 7160,  6986],
       [ 4433,  4149],
       [13143, 30942],
       [ 7441,  8023],
       [ 7160, 42124],
       [11842, 11837],
       [ 6571,  6640],
       [ 4889,  6666],
       [ 9447, 10848],
       [11658, 14394],
       [ 6571,  7201],
       [ 3392,  1977],
       [ 1632,  1635],
       [ 7160,  7256],
       [ 7160,  8538],
       [ 4433,  3857],
       [ 9447,  9880],
       [ 4889,  4883],
       [13224, 21797],
       [13887, 13880],
       [ 4889,  4779],
       [ 2217,  3481],
       [ 6571,  5397],
       [ 9447,  9583],
       [ 1632, 17081],
       [ 7160,  6600],
       [ 9447,  9715],
       [10601, 24393],
       [ 2217,  1631],
       [ 3392,  2850],
       [ 3392, 18246],
       [ 3392,  2457],
       [13224, 12928],
       [ 1880,  1967],
       [ 2585,  2643],
       [10601, 11987],
       [ 3392,  4877],
       [ 3392,  3046],
       [ 4433,  4544],
       [ 4433,  3736],
       [ 6571,  8596],
       [ 4433,  3756],
       [ 2585, 36021],
       [ 9447, 24520],
       [10959, 11305],
       [ 6571,  7512],
       [10959, 12094],
       [ 1632, 16297],
       [ 4433, 23288],
       [ 3392, 24671],
       [ 2217,  2201],
       [11658, 43921],
       [13224, 14382],
       [ 7160, 17179],
       [ 9447,  8547],
       [ 4889, 38709],
       [ 9447,  9957],
       [ 9447,  9910],
       [ 6571,  5649],
       [ 6571,  5488],
       [ 9447,  8988],
       [ 2585,  1826],
       [ 2585,  1837],
       [ 1632,  1639],
       [ 4433,  4934],
       [ 4433,  5425],
       [13143, 28923],
       [13887, 14210],
       [ 9447, 24106],
       [ 2585,  1526],
       [ 4433,  5327],
       [ 2217,  1136],
       [ 1632,  1625],
       [10601, 11881],
       [ 4889,  4536],
       [ 6571,  7281],
       [ 9447,  8835],
       [ 9447,  8062],
       [ 2585,  3591],
       [13143, 48673],
       [10601, 11289],
       [ 7441, 46200],
       [11842, 24227]])

In [715]:
y_pred

array([ 6571,  4889, 13887, 10601,  3392, 13224,  2217,  7441,  4433,
       11842,  7160,  9447,  7160,  4889,  7160, 11658, 13143,  4433,
       13224,  3392,  1632,  9447,  3392,  6571,  4433, 10601,  4889,
        8823,  2217,  2217,  7160,  1632, 13470,  2585,  2585,  2585,
       10601,  1632, 13470, 13887,  6571,  6571, 13143, 13224, 11658,
       13887,  7160,  2585, 13887,  9447, 11658,  7160,  4433, 13143,
        7441,  7160, 11842,  6571,  4889,  9447, 11658,  6571,  3392,
        1632,  7160,  7160,  4433,  9447,  4889, 13224, 13887,  4889,
        2217,  6571,  9447,  1632,  7160,  9447, 10601,  2217,  3392,
        3392,  3392, 13224,  1880,  2585, 10601,  3392,  3392,  4433,
        4433,  6571,  4433,  2585,  9447, 10959,  6571, 10959,  1632,
        4433,  3392,  2217, 11658, 13224,  7160,  9447,  4889,  9447,
        9447,  6571,  6571,  9447,  2585,  2585,  1632,  4433,  4433,
       13143, 13887,  9447,  2585,  4433,  2217,  1632, 10601,  4889,
        6571,  9447,  9447,  2585, 13143, 10601,  7441, 11842])

In [716]:
df.quantile([.1, .2 ])

      age    bmi  children     charges
0.1  19.0  22.61       0.0  2208.38411
0.2  24.0  24.86       0.0  3595.54091

In [717]:
temp

array([[ 6571,  5976],
       [ 4889,  5846],
       [13887, 13831],
       [10601,  9625],
       [ 3392,  2680],
       [13224, 47896],
       [ 2217, 18223],
       [ 7441,  7419],
       [ 4433,  3732],
       [11842, 12222],
       [ 7160,  7050],
       [ 9447, 21978],
       [ 7160,  6282],
       [ 4889, 37701],
       [ 7160,  7046],
       [11658, 12032],
       [13143, 13112],
       [ 4433,  4239],
       [13224, 12333],
       [ 3392,  3410],
       [ 1632,  1727],
       [ 9447, 44641],
       [ 3392, 17128],
       [ 6571,  6112],
       [ 4433,  4529],
       [10601, 10594],
       [ 4889,  6402],
       [ 8823, 46151],
       [ 2217,  1711],
       [ 2217,  1704],
       [ 7160, 45863],
       [ 1632,  4687],
       [13470, 15019],
       [ 2585,  3180],
       [ 2585,  3861],
       [ 2585,  3443],
       [10601, 27117],
       [ 1632,  2709],
       [13470, 13451],
       [13887, 47928],
       [ 6571, 23563],
       [ 6571,  6710],
       [13143, 14235],
       [13224, 14001],
       [11658, 27218],
       [13887, 13390],
       [ 7160, 41034],
       [ 2585,  2020],
       [13887, 14256],
       [ 9447, 21232],
       [11658, 48675],
       [ 7160,  6986],
       [ 4433,  4149],
       [13143, 30942],
       [ 7441,  8023],
       [ 7160, 42124],
       [11842, 11837],
       [ 6571,  6640],
       [ 4889,  6666],
       [ 9447, 10848],
       [11658, 14394],
       [ 6571,  7201],
       [ 3392,  1977],
       [ 1632,  1635],
       [ 7160,  7256],
       [ 7160,  8538],
       [ 4433,  3857],
       [ 9447,  9880],
       [ 4889,  4883],
       [13224, 21797],
       [13887, 13880],
       [ 4889,  4779],
       [ 2217,  3481],
       [ 6571,  5397],
       [ 9447,  9583],
       [ 1632, 17081],
       [ 7160,  6600],
       [ 9447,  9715],
       [10601, 24393],
       [ 2217,  1631],
       [ 3392,  2850],
       [ 3392, 18246],
       [ 3392,  2457],
       [13224, 12928],
       [ 1880,  1967],
       [ 2585,  2643],
       [10601, 11987],
       [ 3392,  4877],
       [ 3392,  3046],
       [ 4433,  4544],
       [ 4433,  3736],
       [ 6571,  8596],
       [ 4433,  3756],
       [ 2585, 36021],
       [ 9447, 24520],
       [10959, 11305],
       [ 6571,  7512],
       [10959, 12094],
       [ 1632, 16297],
       [ 4433, 23288],
       [ 3392, 24671],
       [ 2217,  2201],
       [11658, 43921],
       [13224, 14382],
       [ 7160, 17179],
       [ 9447,  8547],
       [ 4889, 38709],
       [ 9447,  9957],
       [ 9447,  9910],
       [ 6571,  5649],
       [ 6571,  5488],
       [ 9447,  8988],
       [ 2585,  1826],
       [ 2585,  1837],
       [ 1632,  1639],
       [ 4433,  4934],
       [ 4433,  5425],
       [13143, 28923],
       [13887, 14210],
       [ 9447, 24106],
       [ 2585,  1526],
       [ 4433,  5327],
       [ 2217,  1136],
       [ 1632,  1625],
       [10601, 11881],
       [ 4889,  4536],
       [ 6571,  7281],
       [ 9447,  8835],
       [ 9447,  8062],
       [ 2585,  3591],
       [13143, 48673],
       [10601, 11289],
       [ 7441, 46200],
       [11842, 24227]])

In [718]:
df['charges'].quantile(.1),df['charges'].quantile(.2)
# print(df['charges'].quantile(.2),df['charges'].quantile(.3))
# print(df['charges'].quantile(.3),df['charges'].quantile(.4))
# print(df['charges'].quantile(.4),df['charges'].quantile(.5))
# print(df['charges'].quantile(.5),df['charges'].quantile(.6))
# print(df['charges'].quantile(.6),df['charges'].quantile(.7))
# print(df['charges'].quantile(.7),df['charges'].quantile(.8))
# print(df['charges'].quantile(.8),df['charges'].quantile(.9))
# print(df['charges'].quantile(.9),df['charges'].quantile(1))

(2208.38411, 3595.5409099999997)

In [719]:
11881

11881

In [720]:
correct = 0 
df = pd.read_csv("https://raw.githubusercontent.com/nitkiew2/CSE404GroupProject/main/insurance.csv")
for i in temp:
    if df['charges'].quantile(0)<=i[0] and i[0]<df['charges'].quantile(.2):
        if df['charges'].quantile(0)<=i[1] and i[1]<df['charges'].quantile(.2):
            correct +=1

    elif df['charges'].quantile(.2)<=i[0] and i[0]<df['charges'].quantile(.4):
        if df['charges'].quantile(.2)<=i[1] and i[1]<df['charges'].quantile(.4):
            correct +=1
    elif df['charges'].quantile(.4)<=i[0] and i[0]<df['charges'].quantile(.6):
        if df['charges'].quantile(.4)<=i[1] and i[1]<df['charges'].quantile(.6):
            correct +=1
    elif df['charges'].quantile(.6)<=i[0] and i[0]<df['charges'].quantile(.8):
        if df['charges'].quantile(.6)<=i[1] and i[1]<df['charges'].quantile(.8):
            correct +=1
    elif df['charges'].quantile(.8)<=i[0] and i[0]<=df['charges'].quantile(1):
        if df['charges'].quantile(.8)<=i[1] and i[1]<=df['charges'].quantile(1):
            correct +=1
#     elif df['charges'].quantile(.5)<=i[0] and i[0]<df['charges'].quantile(.6):
#         if df['charges'].quantile(.5)<=i[1] and i[1]<df['charges'].quantile(.6):
#             correct +=1
#     elif df['charges'].quantile(.6)<=i[0] and i[0]<df['charges'].quantile(.7):
#         if df['charges'].quantile(.6)<=i[1] and i[1]<df['charges'].quantile(.7):
#             correct +=1
#     elif df['charges'].quantile(.7)<=i[0] and i[0]<df['charges'].quantile(.8):
#         if df['charges'].quantile(.7)<=i[1] and i[1]<df['charges'].quantile(.8):
#             correct +=1
#     elif df['charges'].quantile(.8)<=i[0] and i[0]<df['charges'].quantile(.9):
#         if df['charges'].quantile(.8)<=i[1] and i[1]<df['charges'].quantile(.9):
#             correct +=1
#     elif df['charges'].quantile(.9)<=i[0] and i[0]<df['charges'].quantile(1):
#         if df['charges'].quantile(.9)<=i[1] and i[1]<df['charges'].quantile(1):
#             correct +=1
    else:
        print("here")
    
            
#     print(i[0],i[1])

In [721]:
(correct)/len(temp)

0.6567164179104478